/bin
/obj
/AuthServer/obj/Container/*.cache
/AuthServer/obj/Container
*.cache
/APIGateway/obj/Debug/netcoreapp3.1/APIGateway.assets.cache
/APIGateway/obj/Debug/netcoreapp3.1/APIGateway.csprojAssemblyReference.cache
/APIGateway/obj/project.nuget.cache
/AuthServer/obj/Container/ContainerDevelopmentMode.cache
/AuthServer/obj/Container/ContainerId.cache
/AuthServer/obj/Container/ContainerName.cache
/AuthServer/obj/Container/ContainerRunContext.cache
/AuthServer/obj/Debug/netcoreapp2.1/AuthServer.csprojAssemblyReference.cache
/MontyHallAPI/obj/Container/ContainerDevelopmentMode.cache
/MontyHallAPI/obj/Container/ContainerId.cache
/MontyHallAPI/obj/Container/ContainerName.cache
/MontyHallAPI/obj/Container/ContainerRunContext.cache
obj
/APIGateway/bin
/AuthServer/bin
/AuthServer/obj
/MontyHallAPI/obj
/MontyHallAPI/bin
